@import '../../styles.css';

.component {
  width: 400px;
}

.title {
  box-sizing: border-box;
  border: 2px solid transparent;
  cursor: pointer;
  font-size: var(--size-24);
  line-height: var(--size-28);
  height: var(--size-32);
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.titleBorder {
  border: 2px solid var(--color-silver);
}

.title:hover {
  font-weight: var(--font-weight-bold);
}

.expanding {
  background-color: var(--color-silver-transparent);
  height: 0;
  overflow: hidden;
  transition: height .3s ease-out;
}

.opened {
  border-left: 2px solid var(--color-silver);
  border-right: 2px solid var(--color-silver);
  border-bottom: 2px solid var(--color-silver);
  transition: height .3s ease-in;
}

.small {
  height: 150px;
}

.large {
  height: 350px;
}
