{
  "extends": [
    "airbnb"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "comma-dangle": "off",
    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": "off",
    "no-console": "off",
    "import/no-extraneous-dependencies": "off",

    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
