{
  "extends": [
    "airbnb"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "comma-dangle": "off",
    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": "off",
    "no-console": "off",
    "object-curly-newline": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "max-len": ["error", { "code": 120 }],
    "no-return-assign": "off",

    "babel/no-invalid-this": 1,

    "react/prop-types": [2, { "ignore": ["children"] }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/button-has-type": "off",
    "react/forbid-prop-types": [1, { "forbid": ["any"], "checkContextTypes": true, "checkChildContextTypes": true }],

    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-element-to-interactive-role": "off"
  },
  "parser": "babel-eslint",
  "plugins": [
    "babel"
  ]
}
