.component {
  height: 100%;
  padding: var(--size-4);
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: var(--size-12) 0;
}

.signupButton {
  display: flex;
  justify-content: center;
}

.signupButton button {
  margin-top: 0;
}
