@import "../../../styles.css";

.component {
  background: url("../../../../../public/images/wave.gif") repeat center;
  position: absolute;
  width: calc(100% - 250px);
  height: 100%;
  top: 0;
  left: 250px;
}

@media (--tablet) {
  .component {
    left: 0;
    width: 100%;
  }
}
