@import "../../../styles.css";

.component {
  background: url("../../../../../public/images/wave.gif") repeat center;
  position: absolute;
  width: calc(100% - 250px);
  height: 100%;
  top: 0;
  left: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lands {
  height: 540px;
  width: 800px;
  transform-origin: center;
}

@media (--tablet) {
  .component {
    left: 0;
    width: 100%;
  }
}
