@import "../../../styles.css";

.component {
  height: 100%;
  position: absolute;
  background-color: var(--color-silver-semi-transparent);
  transition: width .3s ease-out;
}

.closed {
  width: var(--size-36);
}

.expanded {
  width: 250px;
}


