@import "../../../styles.css";

.component {
  background-color: var(--color-silver-semi-transparent);
  height: 100%;
  padding: var(--size-12);
  position: absolute;
  transition: width .3s ease-out;
}

.surrender {
  position: relative;
  bottom: 0;
}

.closed {
  width: var(--size-36);
}

.expanded {
  width: 250px;
}


