.component {
  width: 100%;
  height: 100%;
  padding: var(--size-4);
  box-sizing: border-box;
}

.wrapper {
  margin: var(--size-12) 0;
  display: flex;
  justify-content: space-between;
}

.inputElement {
  min-width: 185px;
}

.button {
  display: block;
  margin: 0 auto;
}
