.component {
  width: 100%;
  height: 100%;
  padding: var(--size-4);
  box-sizing: border-box;
}

.wrapper {
  margin: var(--size-12) 0;
  display: flex;
  justify-content: space-between;
}

.loginButton {
  margin-top: var(--size-44);
  display: flex;
  justify-content: center;
}
