.component {
  width: 100%;
  height: 100%;
  padding: var(--size-4);
  box-sizing: border-box;
}

.input {
  display: inline-block;
  width: 50%;
}

.label {
  display: inline-block;
  width: 50%;
}

.wrapper {
  margin: var(--size-12) 0;
}

.error {
  border: 1px solid red;
  color: red;
}

.loginButton {
  margin-top: var(--size-44);
  display: flex;
  justify-content: center;
}
