.colorGrey {
  fill: var(--color-player-grey);
}

.colorGrey:hover {
  fill: var(--color-player-red);
}

.colorRed {
  fill: var(--color-player-red);
}

.colorGreen {
  fill: var(--color-player-green);
}

.colorBlue {
  fill: var(--color-player-blue);
}

.colorPurple {
  fill: var(--color-player-purple);
}

.colorYellow {
  fill: var(--color-player-yellow);
}

.colorBrown {
  fill: var(--color-player-brown);
}

.text {
  font-size: var(--font-12);
  pointer-events: none;
  text-transform: capitalize;
  text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;
}
