:root {
  --size-4: 4px;
  --size-8: 8px;
  --size-12: 12px;
  --size-16: 16px;
  --size-20: 20px;
  --size-24: 24px;
  --size-28: 28px;
  --size-32: 32px;
  --size-36: 36px;
  --size-40: 40px;
  --size-44: 44px;
  --size-48: 48px;
  --size-52: 52px;

  --font-12: 12px;
  --font-13: 13px;
  --font-14: 14px;
  --font-15: 15px;
  --font-16: 16px;
  --font-17: 17px;
  --font-18: 18px;
  --font-19: 19px;
  --font-20: 20px;
  --font-22: 22px;
  --font-25: 25px;
  --font-36: 36px;
  --font-48: 48px;
  --font-72: 72px;

  --color-black: rgba(0, 0, 0, 1);
  --color-silver: rgba(202, 205, 201, 1);
  --color-gunmetal: rgba(34, 51, 59, 1);
  --color-sunglow: rgba(255, 210, 63, 1);
  --color-rifle-green: rgba(63, 75, 59, 1);
  --color-jungle-green: rgba(31, 63, 47, 1);
  --color-grey: rgba(211, 211, 211, 1);

  --color-silver-transparent: rgba(202, 205, 201, .3);
  --color-silver-semi-transparent: rgba(202, 205, 201, .6);
  --color-black-transparent: rgba(0, 0, 0, .3);

  --font-weight-bold: 600;

  @custom-media --phone (width <= 375px);
  @custom-media --tablet (width <= 768px);

  @custom-media --retina (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi);
  @custom-media --landscape (orientation: landscape);
  @custom-media --portrait (orientation: portrait);
}

:global(body) {
  background-color: black;
  color: var(--color-silver);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: var(--size-16);
}

* {
  box-sizing: border-box;
}

:global(#app) {
  height: 100vh;
  min-height: 700px;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
}

.application {
  background: url("../../public/images/background.jpg");
  height: 720px;
  margin: 100px auto;
  max-width: 1280px;
  position: relative;
  width: 100%;
}

@media (--tablet) {
  .application {
    height: 100%;
    margin: 0;
    width: 100%;
  }
}
