@import '../../../styles.css';

.content {
  padding: var(--size-20);
}

.gameName {
  background: url("../../../../../public/images/name.png") no-repeat center;
  height: 100px;
}

.hamburger {
  margin: var(--size-8) auto;
}

@media (--tablet) {
  .gameName {
    background: url("../../../../../public/images/mobile-name.png") no-repeat center;
    height: 150px;
    padding-top: var(--size-40);
    margin: 0 var(--size-20);
    background-size: contain;
  }
}
